<!DOCTYPE HTML>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<center>
	<a href="{% url 'Microtask1:main' %}">Microtask1</a>  <br>
	<a href="{% url 'Microtask1:main2' %}">Microtask2</a> <br>
	</center>
</body>
</html>